@media only screen and (min-width: 1016px) {
	nav li {
		margin: 0 2.5em;
	}
}

@media only screen and (max-width: 1015px) {
	body {
		font-size: 16px;
	}

	/* // MOBILE NAVIGATION // */

	nav li {
		line-height: 1em;
	}

	/* // HOME SECTION // */
	
	#home h2 {
  		font-size: 1.1em;
  		font-weight: 900;
  	}

  	/* // GRAPHIC DESIGN SECTION // */

	.designct {
  		width: 10em;
  		background-color: rgba(218,141,32,.8);
  		color: #fff;
  		border: .1em rgba(58,58,58,.2) solid;
	}

	.ct {
  		width: 10em;
  		background-color: rgba(218,141,32,.8);
  		color: #fff;
  		border: .1em rgba(255,172,34,1) solid;
	}
}

@media only screen and (max-width: 920px) {

	nav li:first-child {
  		width: 20%;
	}
}

@media only screen and (max-width: 888px) {
	body {
		font-size: 15px;
	}
	
	/* // MOBILE NAVIGATION // */
	
	nav {
		display: none;
	}

	.mobile-nav {
		display: block;
		background-color: #fff;
		font-weight: 700;
	}

	/* // HOME SECTION // */

	#home h2 {
  		font-size: 1.1em;
  		font-weight: 900;
	}

	/* // GRAPHIC DESIGN SECTION // */

	section#graphicdesign {
		padding-left: 0;
	}

	#designinfo div {
		width: 100%;
		float: none;
	}

	#designinfo div:last-child {
		padding: 0.25em 5em 2em 6em;
	}

	#designinfo h2 {
		margin-top: 11%;
	}	

	#designinfo figure {
		width: 70%;
		margin: 0 auto;
	}

	.designct {
  		width: 10em;
  		background-color: rgba(218,141,32,.8);
  		color: #fff;
  		border: .1em rgba(58,58,58,.2) solid;
	}

	.leftcol {
		font-size: 1.05em;
	}

	/* // PHOTO SECTION // */

	#photocontent h2 {
		margin-top: 10%;
	}

	.ct {
  		width: 10em;
  		background-color: rgba(218,141,32,.8);
  		color: #fff;
  		border: .1em rgba(255,172,34,1) solid;
	}

	/* // ABOUT SECTION // */

	#about h2 {
		width: 100%;
	}

	#about h3 {
		margin: 4.5% 5% 1%;
	}

	#about div {
		float: none;
		width: 100%;
	}

	blockquote {
		float: none;
		width: 100%;
		font-size: 1em;
	} 

	blockquote::before {
		left: -4px;
	}

	blockquote cite {
		float: none;
		font-size: 1em;
		margin: 1em 4em 1.7em;
	}

	/* // CONTACT SECTION // */

	#contact p {
		font-size: 1.2em;
	}
}

@media only screen and (max-width: 636px) {
	body {
		font-size: 15px;
	}

	/* // MOBILE NAVIGATION // */

	nav {
		display: none;
	}

	.mobile-nav {
		display: block;
	}

	#menu-btn {
		margin-top: 3.75%;
	}

	/* // HOME SECTION // */

	#home h2:first-child {
  		font-size: 1.1em;
  		font-weight: 900;
		width: 100%;
		text-align: center;
	}

	#home h2:last-child {
  		font-size: 1.1em;
  		font-weight: 900;
		width: 100%;
		text-align: center;
		padding-bottom: 2.25em;
	}

	/* // GRAPHIC DESIGN SECTION // */

	section#graphicdesign {
		padding-left: 0;
		margin: 16% auto;
		padding-bottom: 3em;
	}

	#designinfo {
		margin: 0 3.5%;
	}

	#designinfo div {
		width: 100%;
		float: none;
	}

	#designinfo div:last-child {
		padding: 2em 0;
	}

	#designinfo h2 {
		margin-top: 11%;
		text-align: center;
	}	

	#designinfo p:first-of-type {
		width: 100%;
		padding: 0 3%;
	}

	#designinfo a {
		margin: 6% auto;
	}

	.designct {
  		width: 10em;
  		background-color: rgba(218,141,32,.8);
  		color: #fff;
  		border: .1em rgba(58,58,58,.2) solid;
	}

	.leftcol {
		display: none;
	}

	/* // PHOTO SECTION // */


	#photocontent h2 {
		margin-top: 10%;
	}

	.ct {
  		width: 10em;
  		background-color: rgba(218,141,32,.8);
  		color: #fff;
  		border: .1em rgba(255,172,34,1) solid;
	}

	#photo-overlay {
		padding: 10.5em 4.5em 15em 4.5em;
	}

	/* // ABOUT SECTION // */

	section#about {
		padding: 7.5em 2em;
	}

	#about h2 {
		width: 100%;
		text-align: center;
	}

	#about h3 {
		margin: 6% 2% 1% 10.5%;
		font-size: 1.15em;
	}

	#about div {
		float: none;
		width: 100%;
		padding-left: .75em;
	}

	#about p {
		width: 100%;
	}

	blockquote {
		float: none;
		width: 100%;
		font-size: 1em;
	} 

	blockquote::before {
		left: 8px;
	}

	blockquote cite {
		float: none;
		font-size: 1em;
		margin: 1em 4em 1.7em;
	}

	/* // CONTACT SECTION // */

	#contact p {
		font-size: 1.2em;
	}
	
	/* // BACK TO TOP BUTTON // */

	.back-to-top {
		display: block;
	}
}

@media only screen and (max-width: 400px) {
	body {
		font-size: 15px;
	}

	/* // MOBILE NAVIGATION // */

	nav {
		display: none;
	}

	.mobile-nav {
		display: block;
	}

	#menu-btn {
		margin-top: 5.5%;
	}

	/* // HOME SECTION // */

	#home h2:first-child {
  		font-size: 1.1em;
  		font-weight: 900;
		width: 100%;
		text-align: center;
	}

	#home h2:last-child {
  		font-size: 1.1em;
  		font-weight: 900;
		width: 100%;
		text-align: center;
		padding-bottom: 2.25em;
	}

	/* // GRAPHIC DESIGN SECTION // */

	section#graphicdesign {
		padding-left: 0;
		margin: 12% auto;
		padding-bottom: 3em;
	}

	#designinfo {
		margin: 0 3.5%;
	}

	#designinfo div {
		width: 100%;
		float: none;
	}

	#designinfo div:last-child {
		padding-left: 0;
	}

	#designinfo h2 {
		margin-top: 11%;
		margin-bottom: 5%;
		text-align: center;
		font-size: 1.95em;
	}	

	#designinfo p:first-of-type {
		width: 100%;
		padding: 0 3%;
	}

	#designinfo a {
		margin: 6% auto;
	}

	.designct {
  		width: 10em;
  		background-color: rgba(218,141,32,.8);
  		color: #fff;
  		border: .1em rgba(58,58,58,.2) solid;
	}

	.leftcol {
		display: none;
	}

	/* // PHOTO SECTION // */

	#photocontent h2 {
		margin-top: 10%;
		font-size: 1.95em;
	}

	.ct {
  		width: 10em;
  		background-color: rgba(218,141,32,.8);
  		color: #fff;
  		border: .1em rgba(255,172,34,1) solid;
	}

	#photo-overlay {
		padding: 7.5em 4.5em 11em 4.5em;
	}

	/* // ABOUT SECTION // */

	section#about {
		padding: 7.5em 2em;
	}

	#about h2 {
		width: 100%;
		text-align: center;
		font-size: 1.95em;
	}

	#about h3 {
		margin: 7% 2% 1% 12%;
		font-size: 1.15em;
	}

	#about div {
		float: none;
		width: 100%;
		padding-left: .75em;
	}

	#about p {
		width: 100%;
	}

	blockquote {
		float: none;
		width: 100%;
		font-size: 1em;
	} 

	blockquote::before {
		left: 8px;
	}

	blockquote cite {
		float: none;
		font-size: 1em;
		margin: 1em 4em 1.7em;
	}

	/* // CONTACT SECTION// */

	#contact h2 {
		font-size: 1.95em;
	}

	#contact p {
		font-size: 1.2em;
	}
}