* { margin:0; padding:0; box-sizing:border-box;} 

html { overflow-y: scroll; }

body {
  background-color: #f5f5ed;
  font-family: 'Lato', sans-serif;  
  font-size: 17px;
  font: inherit;
  line-height: 1;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

/** PAGE STRUCTURE **/

#wrapper {
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 5em;
}

#wrapper h1 {
  color: rgba(84,58,55,.8);
  text-align: center;
  text-transform: uppercase;
  padding-top: 20%;
  margin-bottom: 4%;
  font-weight: 600;
  font-size: 3em;
}

#portfolio {
  display: block;
  margin-left: 7%;
  margin-right: 2%;
  margin-top: 3%;
}

#portfolio li {
  display: block;
  float: left;
  width: 30%;
  max-width: 400px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}

#portfolio li a {
  display: block;
  padding: 8px;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
}

#portfolio figcaption {
  font-size: .97em;
  color: #fff;
} 

.overlap-figure {
  display: table;
  color: white;
}

.overlap-figure .container { 
  position: relative; 
}

.overlap-figure img { 
  display: block; 
}

.overlap-figure
.caption {
  position: relative;
  padding: .75em;
  background-color: rgba(218,141,32,1);
  width: 100%;
  text-align: center;
  margin-top: -30px;
}

.mfp-title {
  font-size: 1.2em;
  color: #ddd !important;
  font-weight: 700;
}

/** MEDIA QUERIES **/

@media screen and (max-width: 875px) {
  body {
    font-size: 15px;
  }

  #wrapper h1 {
    padding-top: 10%;
  }

  #portfolio li {
    width: 45%;
  }
}

@media screen and (max-width: 550px) {
  body {
    font-size: 15px;
  }

  #wrapper h1 {
    padding-top: 10%;
    padding-bottom: .25em;
    font-size: 2.5em;
  }

  #portfolio { 
    text-align: center;
  }
  
  #portfolio li {
    float: none;
    display: inline-block;
    width: 80%;
    margin-bottom: 30px;
  }
}